#page {
    padding-top: 4rem;
}

/* CATEGORIES */
#topCategories {
    background-color: #ddd;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
}

#topCategories a {
    font-family: 'fjalla';
    font-size: 1.2rem;
    display: inline-block;
    margin: 0.5rem 1rem;
    color: #000;
}

#topCategories a.selected {
    color: #e72c2c;
}

/* SUBCATEGORIES */
#subcategoriesList {
    text-align: center;
}

#subcategoriesList a {
    display: inline-block;
    margin: 1rem;
}

#subcategoriesList a h3 {
    padding: 0.5rem 0;
}

#subcategoriesList a:HOVER {
    opacity: 0.8;
}

#back {
    text-align: left;
}

/* PRODUCTS */
#productsLeft {
    float: left;
    width: 55%;
    padding-right: 4rem;
}

#productsRight {
    float: left;
    width: 45%;
}

#productsRight img {
    max-width: 100%;
    float: right;
    cursor: pointer;
}

div.productItem {
    margin-bottom: 3rem;
}

p.productDescription {
    margin: 1rem 0;
    text-align: justify;
}

p.productReference {
    font-family: 'roboto_bold';
    color: #000;
}

p.productPrice {
    font-family: 'roboto_bold';
    color: #89a730;
}

p.productReference span, p.productPrice span {
    color: #999;
}

p.productAddToCart {
    padding: 0.5rem 0 0.5rem 2.2rem;
    margin-top: 1rem;
    background-image: url(../resources/images/shared/addToCartBlack.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 1.5rem;
    float: right;
}

p.productAddToCart span {
    cursor: pointer;
    font-family: 'fjalla';
    color: #000;
}

p.productAddToCart input {
    width: 4rem;
}

a.productPdf {
    color: #c20d18;
    margin-top: 1rem;
    display: inline-block;
    font-family: 'fjalla';
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
    #productsLeft {
        width: 100%;
        padding-right: 0;
    }

    #productsRight {
        width: 100%;
        margin-top: 2rem;
    }
}