#contentLeft {
    float: left;
    width: 45%;
    padding-right: 4rem;
}
#contentRight {
    float: left;
    width: 55%;
}

#contentContainer h1.title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

#contentContainer h2 {
    margin-bottom: 3rem;
    text-align: justify;
}

#contentContainer h2 span {
    font-family: 'roboto_bold';
}

form.componentForm {
    width: 100%;
    display: inline-block;
}

form.componentForm p span {
    text-transform: uppercase;
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#frmWebDesign div.componentFormSwitchComponentContainer, #frmConditions div.componentFormSwitchComponentContainer {
    margin-top: -2.1rem;
}

#frmWebDesign p, #frmConditions p {
    margin-left: 3.2rem;
}

#frmWebOthers textarea {
    height: 16rem;
}

#frmOthers {
    padding-top: 3rem;
}

a.moreInfo i {
    color: #f9a02a;
    margin-left: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    #contentLeft {
        width: 100%;
        padding-right: 0;
    }
    #contentRight {
        width: 100%;
    }
}